<div class="container well">
  <p>Fill out the fields beneath to tell our users a bit about this area.
    Once you click "Create Crag" your listing go be live on the CragView database!</p>
</div>

<%= render partial: "layouts/view", locals: {location: @location} %><br>
<div class="container">
  <div class="new-crag-form">
    <%= form_for @crag do |f| %>
      <%= f.text_area :name, placeholder: "Name" %>
      <%= f.text_area :description, placeholder: "Description" %>
      <%= f.text_area :directions, placeholder: "Directions" %>
      <%= f.hidden_field :location, value: @location %>
      <%= f.submit "Create Crag", class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
