<% if @user.admin? %>
  <%= link_to "View All Crags", admin_crags_path(@user) %>
  <%= link_to "View All Users", admin_users_path(@user) %>
<% end %>
<div class="container well dashboard-panel">
<h1>Welcome <%= @user.name %> </h1>
  <p>
    <img src="<%= @user.profile_image %>" class="profile" height=100px width=100px >
    Thanks for being a part of the CragView community! There are two ways to add panoramas to the CragView database.
    <li>Browse Google Maps for StreetViews uploaded by any user <%= link_to "here", locator_path %>.</li>
    or
    <li>Select one of your panoramas from below</li>
  </p>
</div>
<% cache("user panoramas") do %>
  <% @user.panoramas.each do |panorama| %>
    <div class="container well">
      <p class="panorama-thumbnail"><%= link_to image_tag(panorama.thumbnail), {:controller => "crags", :action => "new", :location => panorama.location }, class: "thumbnail-#{panorama.id}" %><br></p>
    </div>
  <% end %>
<% end %>
